div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* .new_album,.new_album .list_wrap,.new_album .list_wrap .bg_album_frame, .event,  .hot_issue, .chart, .login_wrap, .promotion_wrap{
    border: 1px solid gray;
    border-collapse: collapse;
} */
.wrap{
    max-width: 1008px;
    margin: 0 auto;
}
body{
   

    margin: 0;
}
ol, ul, li{
    list-style: none;
    font-weight: normal;
}
dl{
    
    display: block;
    margin-block-start: 1em;    
    margin-block-end:   1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;


}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
button, .btn{
    border: 1px solid red;
    display: inline-block;
    zoom: 1;
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
.txt_intro{
    font-size: 12px;
    color: #888;
}
#gnb{
    height: 137px;;
}
#util_menu{
    position: relative;
    width: 1008px;
    margin: 0;
    height: 33px;
    border-top: 4px greenyellow solid;
    border-bottom: 1px solid gray;
}

#util_menu .top_left ul li{
    margin-left: 10px;
    padding: 7px 0 7px 0;
    
    float: left;
}
#util_menu .top_right ul li{ 
    padding: 7px 0 7px 0;
    margin-right: 10px;
    float: right;
}
#header{
    border-bottom : solid 1px gray;
    position: relative;
    width: 100%;
    min-width: 1008px;
    height: 192px;
    
}
#header #logo-melon{
    width: 142px;
    height: 99px;
    float: left;
}
#header #mainSearchBox{
    display: inline;
    position: relative;
    width: 322px !important;
    height: 40px !important;
    margin: 36px 0 0 11px;
    float: left;
    background: url('./img/dev_img/bg_cmn_search322.png') no-repeat;
    /* 앞으로 튀어나오게 하는 css */
    z-index: 15; 
}
#searchInputBox{
    margin: 7px 0 0 16.5px;
    border: 0;
    width: 249px;
    height: 20px;
    padding: 3px 7px 0 0;
}
.btn_icon .odd_span{
    width: 45px;
    height: 40px;
    background:url('./img/dev_img/btn_search_bar.png') no-repeat 0 0;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.soaringSearchTerms {
    margin-top: 45px;
    float: left;
}
.soaringSearchTerms #soaringSearchImg{
    width: 42px;
    height: 16px;
    background: url('./img/dev_img/bg_loce_151207.png') no-repeat;
}
#gnb_menu{
    position: relative;
    height: 55px;
    z-index: 14px;
    margin-top: 18px;
}
#gnb_menu ul{
    float: left;
    
    width: 819px;
    height: 55px;
}
#gnb_menu ul li{
    margin-left: 30px;
    float: left;
    height: 55px;
}
#gnb_menu ul li a:link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#gnb_menu ul li a:visited{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#gnb_menu ul li a:hover{
    text-decoration: none;
    color: rgb(143, 209, 43);
    cursor: pointer;
}
#gnb_menu ul li a:active{
    text-decoration: none;
    color: rgb(143, 209, 43);
    cursor: pointer;
}
#gnb_menu #sub_gnb{
    
    float: right;
    width: 158px;
    margin-right: 30px;
}
#gnb_menu #sub_gnb li a:link{
    color: gray;
    
}

                                    /* 여기서 부터 컨텐츠 */

#cont_wrap{
    margin: 0 auto;
    background: 0;
}
#conts_section{
    padding: 0 20px;
    position: relative;
    width: 1008px;
    margin: 0 auto;
}

.new_album{
    position: relative;
    z-index: 5;
    width: 482px;
    height: 340px;
    float: left;
}
.new_album h2{
    width: 75px;
    height:24px;
    float: left;
}
.new_album .wrap_btn{
    float: right;
}
.btn_pre{
    float: left;
    width: 20px;
    height: 17px;
    background: url('./img/dev_img/bg_btn_page02_140716.png') no-repeat;
    background-position: left -202px !important;
    font-size : 0;
    line-height: 0;
}
.btn_pre:hover{
    background: url('./img/dev_img/bg_btn_page02_140716.png') no-repeat;
    background-position: left -220px !important;
}
.btn_next{
    float: left;
    width: 20px;
    height: 17px;
    background: url('./img/dev_img/bg_btn_page02_140716.png') no-repeat;
    background-position: right -202px !important;
    font-size : 0;
    line-height: 0;
}
.btn_next:hover{
    background: url('./img/dev_img/bg_btn_page02_140716.png') no-repeat;
    background-position: right -220px !important;
}
.new_album .new_album_top{
    width: 480px;
    height: 25px;
}
.new_album .list_wrap{
    position: relative;
    overflow: hidden;
    width: 480px;
    height: 314px;
}
.new_album .list_wrap .bg_album_frame{
    
    float: left;
    margin: 1px;
    width: 156px;
    height:156px;
}
.frame_page{
    position: absolute;
    float: left;
    width:480px;
    height: 314px;
}
#frame1-1{
    background: url('./img/new_album_img/10497503_20200928180040_500.jpg') no-repeat;   
}
#frame1-2{
    background: url('./img/new_album_img/10497888_20200929105659_500.jpg') no-repeat;   
}
#frame1-3{
    background: url('./img/new_album_img/10496786_20200928095251_500.jpg') no-repeat;   
}
#frame1-4{
    background: url('./img/new_album_img/10497675_20200928194937_500.jpg') no-repeat;   
}
#frame1-5{
    background: url('./img/new_album_img/10498032_20200929122954_500.jpg') no-repeat;   
}
#frame1-6{
    background: url('./img/new_album_img/10498127_20201002131840_500.jpg') no-repeat;   
}
#frame2-1{
    background: url('./img/new_album_img/10497893_20200929110322_500.jpg') no-repeat;   
}
#frame2-2{
    background: url('./img/new_album_img/10497797_20200929092930_500.jpg') no-repeat;   
}
#frame2-3{
    background: url('./img/new_album_img/10497962_20200929113140_500.jpg') no-repeat;   
}
#frame2-4{
    background: url('./img/new_album_img/10497293_20200928153723_500.jpg') no-repeat;   
}
#frame2-5{
    background: url('./img/new_album_img/10498123_20201002094556_500.jpg') no-repeat;   
}
#frame2-6{
    background: url('./img/new_album_img/10497592_20200928184458_500.jpg') no-repeat;   
}
#frame3-1{
    background: url('./img/new_album_img/10497555_20200928182746_500.jpg') no-repeat;   
}
#frame3-2{
    background: url('./img/new_album_img/10497526_20200928181206_500.jpg') no-repeat;   
}
#frame3-3{
    background: url('./img/new_album_img/10497769_20200928213541_500.jpg') no-repeat;   
}
#frame3-4{
    background: url('./img/new_album_img/10497951_20200929112503_500.jpg') no-repeat;   
}
#frame3-5{
    background: url('./img/new_album_img/10497864_20200929102900_500.jpg') no-repeat;   
}
#frame3-6{
    background: url('./img/new_album_img/10497553_20200928182537_500.jpg') no-repeat;   
}
.bg_album_frame div{
    text-align: center;
    background-color: rgb(0,0,0,0.5);
    color: white;
    height: 25px;
    width: 156px;
    padding-top:8px;
    margin-top: 123px;
}
                                /* 슬라이드 이미지 */
.event{
    position: relative;
    overflow: hidden;
    height: 340px;
    width: 236px;
    margin-left: 4px;
    float: left;
}
.event_list{
    height: 315px;
    width: 236px;
    padding-top: 25px;
    
}

#slide_img1{
    position: absolute;
    width: 236px;
    height: 315px;
    background: url('./img/event_img/경서예지.png');
}
#slide_img2{
    position: absolute;
    width: 236px;
    height: 315px;
    background: url('./img/event_img/ASTRO.jpeg');
}
#slide_img3{
    position: absolute;
    width: 236px;
    height: 315px;
    background: url('./img/event_img/OK.png');
}
#slide_img4{
    position: absolute;
    width: 236px;
    height: 315px;
    background: url('./img/event_img/superbee.png');
}
#slide_img5{
    position: absolute;
    width: 236px;
    height: 315px;
    background: url('./img/event_img/넉살.jpeg');
}
#slide_img6{
    position: absolute;
    width: 236px;
    height: 315px;
    background: url('./img/event_img/네이브로.png');
}
#slide_img7{
    position: absolute;
    width: 236px;
    height: 315px;
    background: url('./img/event_img/스웨덴세탁소.png');
}
                            
                            
.id_wrap{
    width: 280px;
    height: 316px;
    margin-left: 5px;
    margin-top: 24px !important;
    float:left;
}
.id_wrap .login_wrap{
    position: relative;
    width: 280px;
    height: 119px;

}
.id_wrap .login_wrap span{
    font-size: 11px;
    color: #939393;
}
.id_wrap .login_wrap .loginBox_text{
    float: left;
}
.id_wrap .login_wrap #join{
    float: right;
}
.login_wrap .top_area{
    padding: 24px 0 7px;

}
.id_wrap .promotion_wrap{
    position: relative;
    width: 280px;
    height: 188px;
    margin-top: 8px;
    
}
.id_wrap #login_btn{
    width: 100%;
    height: 42px;
    font-size: 14px;

    background-color: #00d344;
    color: white;
    border: 0;
}
.button_login{
    height: 115px;
    padding: 0 17px;
    background-color:#fbfbfb;
}

                                    /* 인기 컨텐츠 */
.hot_issue{
    overflow: hidden;
    clear: both;
    position: relative;
    width: 704px;
    float: left;
    height: 472px;
    margin-top: 32px;
    margin-bottom: 49px;
    

}
.hot_issue h2{
    height: 24px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.hot_issue .wrap_btn{
    float: right;
}
.hot_issue .title_link{
    
    float: left;
    width: 80px;
    height: 15px;

}
.hot_issue .txt_intro{
    width: 300px;
    margin-top: 1px;
    padding-left: 12px;
    font-size: 12px;
    color: #888;
}
.issue_list04{
    clear: both;
    width: 704px;
}
.sub_list{
    
    
}

.hot_issue .issue_list04 dl{
    position: relative;
    margin: 16px 0 2px 16px;
    float: left;
}
ul.sub_list{
    position: absolute;
    overflow: hidden;
    float: left;
}

.ml0{
  
    width: 223px;
    height: 204px;
}
.ml0 dd{
    float: left;
    width: 223px;
    height: 148px;

}
.ml0 dd img{
    width: 223px;
    height: 148px;

}
.issue_list04 .title {
    /* display: block; */
    /* overflow: hidden; */
    font-size: 12px;
    height: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 6px;
    margin-bottom: 2px;
    word-break: break-all;
}
.issue_list04 dl dt a {
    color: #888;
    cursor: pointer;
    font-size: 12px;
}
.issue_list04 .ellipsis {
    display: block;
    width: 223px;
    height: 16px;
    overflow: hidden;
    word-break: break-all;
}
.issue_list04 .view_no a {
    color: #7cb710;
    font-size: 11px;
}
.chart {
    width: 280px;
    float: left;
    margin-left: 24px;
    height: 472px;
    margin-top: 32px;
}
.chart h2 {
    border-bottom: 1px solid #d8ddde;
}
.chart .txt_intro{
    float: right;
}
.chart .wrap_chart_tab{
    width: 280px;
    height: 416px;
    border: 1px solid rgba(128, 128, 128, 0.2);
}
.chart li.on div.list_wrap {
    display: block;
}
.chart .list_wrap {
    /* display: none; */
    width: 278px;
    position: absolute;
    top: 28px;
    left: 0;
    border: 1px solid #dfe6e8;
    border-width: 0 1px;
}
.chart .list_wrap ul {
    border-top: 1px solid #d8ddde;
    width: 278px;
    height: 377px;
}
.none {
    position: absolute;
    top: -5000em;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.chart .list_wrap li.rank_item {
    background: #fff;
}
.chart .list_wrap li {
    position: relative;
    width: 278px;
    height: 33px;
    border-bottom: 1px solid #e9edef;
    font-size: 0;
    line-height: 0;
}

.chart .list_wrap li.odd {
    background: #f8f8f8;
}
.wrap_chart_tab {
    position: relative;
    zoom: 1;
}

.realtime{
    color: #888;
    float: right;
    font-size: 12px;
}
